body {
  margin: 0;
}

.button {
  background-color: #6200ea; /* Primary color */
  color: white; /* Text color */
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  margin: 2rem 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #3700b3;
}

.button:active {
  transform: scale(0.95);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 0.5rem solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 0.5rem solid #3498db;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.recording-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.blink {
  width: 0.75rem;
  height: 0.75rem;
  background-color: red;
  border-radius: 50%;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
